@keyframes moveRight {
  to {
    transform: translateX(0);
  }
}

@keyframes moveLeft {
  to {
    transform: translateX(0);
  }
}

@keyframes moveUp {
  to {
    transform: translateY(0);
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes hide {
  to {
    opacity: 0;
  }
}
@keyframes grow {
  to {
    transform: scale(1);
  }
}

@keyframes growRotate {
  to {
    transform: rotate(-45deg) scale(1);
  }
}

@keyframes tiltRight {
  to {
    transform: translateX(15px) translateY(0) rotateZ(-35deg);
  }
}

@keyframes tiltLeft {
  to {
    transform: translateY(-1px) rotateZ(35deg);
  }
}