.ellipse-red {
  transform: rotate(-45deg) scale(0);
  animation: growRotate 1s linear 500ms forwards;
}

.ellipse-black {
  transform: scale(0);
  animation: grow 1s linear 500ms forwards;
}
.ellipse-red {
  position: absolute;
  top: 30%;
  left: -2%;
  width: 95%;
  height: 30%;
  background: red;
  border-radius: 580px / 180px;
}

.ellipse-black {
  position: absolute;
  top: 14%;
  left: 14%;
  width: 72%;
  height: 72%;
  background: black;
  border-radius: 370px / 195px;
}

#inner-canvas {
  left: 7%;
  top: 24%;
}

