.line3 {
  position: relative;
  left: 17%;
  margin-top: 5px;
}

.numeral {
  display: inline-block;
  transform: translateY(100vh);
}

#four {
  animation: moveUp 500ms linear 500ms forwards,
             bob 400ms linear 1500ms forwards;
}

#three {
  animation: moveUp 500ms linear 750ms forwards,
             bob 400ms linear 1600ms forwards;
}

#two {
  position: relative;
  transform-origin: top left;
  animation: moveUp 500ms linear 1000ms forwards,
             bob 400ms linear 1700ms forwards,
             tiltLeft 500ms linear 2250ms forwards;
}

#one {
  position: relative;
  transform-origin: center center;
  animation: moveUp 500ms linear 1250ms forwards,
             bob 400ms linear 1800ms forwards,
             tiltRight 500ms linear 2250ms forwards;
}

#one::before,
#one::after,
#two::before,
#two::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  opacity: 0;
  animation: show 100ms linear 2500ms forwards;
}

#one::before {
  border-color: transparent transparent transparent white;
}
#one::after {
  border-color: transparent white transparent transparent;
}

#two::before {
  border-color: transparent transparent white transparent;
}

#two::after {
  border-color: white transparent transparent transparent;
}

@media screen and (orientation:landscape) {

  .numeral {
    height: 4.5vh;
    margin-right: 1vh;
    border: 1.75vh solid white;
  }

  #one::before,
  #two::after {
    left: -1.7vh;
  }

  #one::after,
  #two::before {
    left: -1.75vh;
  }

  #one::before,
  #two::before {
    top: -4.1vh;
  }

  #one::after,
  #two::after {
    bottom: -4.1vh;
  }

  #one::before {
    border-width: 2.5vh 0 0 3.5vh;
  }

  #one::after {
    border-width: 0 3.5vh 2.5vh 0;
  }

  #two::before {
    border-width: 0 0 2.5vh 3.5vh;
  }

  #two::after {
    border-width: 2.5vh 3.5vh 0 0;
  }

}

@media screen and (orientation:portrait) {

  .numeral {
    height: 4.5vw;
    margin-right: 1vw;
    border: 1.75vw solid white;
  }

  #one::before,
  #two::after {
    left: -1.7vw;
  }

  #one::after,
  #two::before {
    left: -1.8vw;
  }

  #one::before,
  #two::before {
    top: -3.9vw;
  }

  #one::after,
  #two::after {
    bottom: -3.9vw;
  }

  #one::before {
    border-width: 2.5vw 0 0 3.5vw;
  }

  #one::after {
    border-width: 0 3.5vw 2.5vw 0;
  }

  #two::before {
    border-width: 0 0 2.5vw 3.5vw;
  }

  #two::after {
    border-width: 2.5vw 3.5vw 0 0;
  }

}

@media screen and (orientation:landscape) and (max-height: 400px) {

  #one::before,
  #two::before {
    top: -3.9vh;
  }

  #one::after,
  #two::after {
    bottom: -3.9vh;
  }

}