@import "animation";

body {
  width: 100vw;
  height: 100vh;
  background: black;
  display: grid;
  place-content: center;
  overflow: hidden;
}

main {
  position: relative;
}

main,
main::before,
main::after {
  width: 530px;
  height: 530px;
  border-radius: 50%;
  padding: 50px 50px 80px 80px;
}

main::before,
main::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  opacity: 0;
}

main::before {
  box-shadow: 0px 0px 150px 60px rgb(78, 0, 202);
  animation: show 1s linear 500ms forwards, hide 1s linear 1500ms forwards;
}
main::after {
  box-shadow: 0px 0px 50px 30px rgb(78, 0, 202);
  animation: show 1s linear 1500ms forwards;
}

#canvas,
#inner-canvas {
  position: absolute;
}

.ellipse-red {
  transform: rotate(-45deg) scale(0);
  animation: growRotate 1s linear 500ms forwards;
}

.ellipse-black {
  transform: scale(0);
  animation: grow 1s linear 500ms forwards;
}
.ellipse-red {
  position: absolute;
  top: 208px;
  left: -36px;
  width: 618px;
  height: 153px;
  background: red;
  border-radius: 580px / 180px;
  //transform: rotate(-45deg);
}

.ellipse-black {
  position: absolute;
  top: 10px;
  left: 80px;
  width: 449px;
  height: 132px;
  background: black;
  border-radius: 370px / 195px;
}

#inner-canvas {
  left: 25px;
  top: 25px;
}

.name {
  position: relative;
  height: 530px;
  display: grid;
  place-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 120px;
  line-height: 0.8;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.line1 {
  transform: translateX(-100vw);
  animation: moveRight 1s linear 500ms forwards;
}

.line2 {
  transform: translateX(100vw);
  animation: moveLeft 1s linear 500ms forwards;
}
.red {
  position: relative;
  color: red;
}

.red::after {
  position: absolute;
  content: '';
  background-color: black;
  left: 35px;
  top: 54px;
  width: 32px;
  height: 39px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.above::after,
.below::before,
.below::after {
  opacity: 0;
  animation: show 1ms linear 1500ms forwards;
}

.above {
  position: relative;
}

.above::after {
  position: absolute;
  content: '';
  background-color: black;
  left: 35px;
  top: 54px;
  width: 20px;
  height: 17px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.below {
  position: relative;
}

.below::before,
.below::after {
  position: absolute;
  content: '';
  background-color: red;
  width: 10px;
  height: 56px;
  transform: rotate(45deg);
}

//to cover the W
.below::before {
  top: 74px;
  left: 111px;
}

//to cover the A
.below::after {
  top: 15px;
  left: 169px;
}

.line3 {
  margin-top: 5px;
  margin-left: 95px;
  font-size: 30px;
}

.numeral {
  display: inline-block;
  height: 50px;
  border: 15px solid white;
  transform: translateY(100vh);
}

#four {
  animation: moveUp 500ms linear 500ms forwards;
}

#three {
  animation: moveUp 500ms linear 750ms forwards;
}

#two {
  transform: translateY(100vh);
  transform-origin: top left;
  animation: moveUp 500ms linear 1000ms forwards,
             tiltLeft 500ms linear 1750ms forwards;
}

#one {
  position: relative;
  transform: translateY(100vh);
  transform-origin: center center;
  animation: moveUp 500ms linear 1250ms forwards,
             tiltRight 500ms linear 1750ms forwards;
}

#one::after {
  position: absolute;
  content: '';
  bottom: -42px;
  left: -13px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 0;
  border-color: transparent white transparent transparent;
  transform: rotateZ(-10deg);
}

#two::after {
  position: absolute;
  content: '';
  bottom: -40px;
  left: -17px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 0;
  border-color: white transparent transparent transparent;
  transform: rotateZ(10deg);
}

#one::before {
  position: absolute;
  content: '';
  top: -41px;
  left: -17px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 0 30px;
  border-color: transparent transparent transparent white;
  transform: rotateZ(-10deg);
}

#two::before {
  position: absolute;
  content: '';
  top: -41px;
  left: -13px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 30px 30px;
  border-color: transparent transparent white transparent;
  transform: rotateZ(10deg);
}