@import "main";
@import "sun";
@import "ellipse";
@import "name";
@import "numerals";
@import "animation";

$blue: rgb(30, 0, 202);
$light-blue: rgb(138, 117, 255);

.js-loading {
  animation-play-state: paused !important;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;
  display: grid;
  place-content: center;
  background: black;
  overflow: hidden;
}